<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>GroupBuy</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563D7C">
    <a class="navbar-brand text-light" style="font-family: Courgette; font-style: italic; font-weight: bolder;" href="#">GroupBuy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="/index?userId=<%=userId%>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="/teamprofile?userId=<%=userId%>">Team Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="/reviews?userId=<%=userId%>">Reviews<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="/friends?userId=<%=userId%>">Friends<span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="dropdown show">
        <a class="btn btn-light dropdown-toggle" style="margin-right: 10px;" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</a>     
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <p class="dropdown-item">All</p>
          <p class="dropdown-item">Product Name</a>
          <p class="dropdown-item">Company</a>
          <p class="dropdown-item">Tag</a>
        </div>
      </div>
      <form id="search_form" class="form-inline my-2 my-lg-0" method="get" action="#">
        <input id="search_input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">search</button>
      </form>
    </div>
  </nav>
  <p class="h1" style="text-decoration: none; color:#563D7C; margin-top: 20px; margin-left: 50px;" > Your Teams</p>
  <%
  teamData.forEach(function(data) {
    var arr = (data.purchaseDate.toString().split(" "))
    var date = arr.slice(0, 4).join(' ')
    if (data.initiatorId == userId) {
  %>
  <div id="content" class="container">
    <div class="jumbotron" style="margin: 20px; padding: 20px;">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column">
          <p class="h4" style="text-decoration: none; color:#563D7C" >Team ID: <%=data.teamId %></p>
          <ul class="list-unstyled">
            <li style="margin-top: 5px; margin-left: 10px;">Status: <%=data.status%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Team Size: <%=data.teamSize%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Team Capacity: <%=data.maxGroupSize%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Product Name: <%=data.productName%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Product Company: <%=data.company%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Start Date: <%=date%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Monthly Price: <%=data.price%> </li>
          </ul> 
        </div>
        <div class="d-flex flex-column">
          <p class="h4" style="text-decoration: none; color:#563D7C" >Leader Actions:</p>
          <ul class="list-unstyled">
            <li style="margin-top: 5px; margin-left: 10px;"><a href='/teamprofile?action=modifyTeam&teamId=<%=data.teamId%>&productId=<%=data.productId%>&userId=<%=userId%>'>Modify Team</a></li>
            <%
            if (data.status == 'inactive') {
            %>
            <li style="margin-top: 5px; margin-left: 10px;"><a href='/teamprofile?action=activate&teamId=<%=data.teamId%>&userId=<%=userId%>&productId=<%=data.productId%>'>Activate</a></li>
            <% } else { %>
            <li style="margin-top: 5px; margin-left: 10px;"><a href='/teamprofile?action=deactivate&teamId=<%=data.teamId%>&userId=<%=userId%>&productId=<%=data.productId%>'>Deactivate</a></li>
            <% } %>
          </ul> 
        </div>
      </div>
    </div>
  </div>
  <% } else { %>
  <div id="content" class="container">
    <div class="jumbotron" style="margin: 20px; padding: 20px;">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column">
          <p class="h4" style="text-decoration: none; color:#563D7C" >Team ID: <%=data.teamId %></p>
          <ul class="list-unstyled">
            <li style="margin-top: 5px; margin-left: 10px;">Status: <%=data.status%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Team Size: <%=data.teamSize%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Team Capacity: <%=data.maxGroupSize%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Product Name: <%=data.productName%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Product Company: <%=data.company%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Start Date: <%=date%> </li>
            <li style="margin-top: 5px; margin-left: 10px;">Monthly Price: <%=data.price%> </li>
          </ul> 
        </div>
        <div class="d-flex flex-column">
          <p class="h4" style="text-decoration: none; color:#563D7C" >Member Actions:</p>
          <ul class="list-unstyled">
            <li style="margin-top: 5px; margin-left: 10px;"><a href='/teamprofile?action=modifyTeam&teamId=<%=data.teamId%>&productId=<%=data.productId%>&userId=<%=userId%>'>Modify Team</a></li>
            <li style="margin-top: 5px; margin-left: 10px;"><a href='/teamprofile?action=leaveTeam&teamId=<%=data.teamId%>&userId=<%=userId%>'>Leave Team</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
  <% }}) %>
  
  <script src="/javascripts/home.js"></script>
</body>
</html>